ion-row {
  text-align: center;

  ion-col[size="5.5"] {
    border-radius: 30px;
    background-color: #efefef;
  }

  h2, h3 {
    font-weight: bold;
  }

  h3 {
    color: #fbb51d;
  }
}

ion-grid ion-row, ion-col{
  margin: 5px;
}