<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{category}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let food of menu" size="5.5">
        <img src={{food.image}} />
        <h2>{{food.name}}</h2>
        <h3><sup>$</sup>{{food.price}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>