<ion-content [fullscreen]="true">
  <div>
    <h1 class="ion-padding">Food Menu</h1>

    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <a routerLink="/all">
            <img src="../../assets/images/all.png" />
          </a>
          <h4>All</h4>
        </ion-col>

        <ion-col size="4">
          <a routerLink="/fastfood">
            <img src="../../assets/images/fastfood.png" />
          </a>
          <h4>Fast Food</h4>
        </ion-col>

        <ion-col size="4">
          <a routerLink="/seafood">
            <img src="../../assets/images/seafood.png" />
          </a>
          <h4>Seafood</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div>
    <h2 class="ion-padding">Popular</h2>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-margin" *ngFor="let food of menu.slice(0,2)">
          <a routerLink="/detail/{{food.id}}">
            <img src={{food.image}} />
            <h2>{{food.name}}</h2>
            <h3><sup>$</sup>{{food.price}}</h3>
          </a>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-margin" *ngFor="let food of menu.slice(2,4)">
          <a routerLink="/detail/{{food.id}}">
            <img src={{food.image}} />
            <h2>{{food.name}}</h2>
            <h3><sup>$</sup>{{food.price}}</h3>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>